.show-card {
  /* position: relative; */
  padding: 10px;
  background-color: #26343a;
  border: 1px solid #5e7d78;
  margin: 0 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.show-card-image {
  /* position: absolute; */
  /* margin-top: 10px; */
  max-width: 300px;
  max-height: 200px;
  /* border-radius: 8px 8px 0 0; */
}
