<!-- _navbar.html.erb -->
<div class="navbar">
  <div class="navbar-logo">
    <%= image_tag "logo.png", class: "logo", id: "main-logo" %>
  </div>
  <div class="menu">
  <ul class="navbar-links">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= new_category_path %>">New Category</a></li>
    <%# <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li> %>
  </ul>
  </div>
</div>
